//colors

$bg-primary: red;
$bg-light-white: white;
$bg-dark-black: black;
$bg-light-dark: rgb(46, 44, 44);
$bg-grey-1: #f7f7f7;
$light-dark: #999;

$bg-light-green: rgba(rgb(24, 218, 24), 0.7);
$bg-dark-green: rgba(rgb(9, 78, 9), 0.7);

//GRID
$grid-width: 114rem;
$grid-vertical: 8rem;
$grid-horizontal: 0rem;

//MARGINS
$margin-bottom-small: 2rem;
$margin-bottom-medium: 4rem;
$margin-bottom-larges: 12rem;

$margin-left-small: 2rem;
